<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Utility.listener"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
		<class name="com.salesforce_TestScripts.Login_Module"/>
      	 <class name="com.salesforce_TestScripts.Contact_Module"/>
    	 <class name="com.salesforce_TestScripts.Account_Module"/>
         <class name="com.salesforce_TestScripts.Account_Related_Contact_Creation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
